h1 {
    color: black;
    font-size: 3rem;
    font-family: Verdana;
}
p1 {
    color: #12fa0a;
    font-family: Verdana;
}
p2 {
    color: #57801b;
    font-family: Verdana;
}
p3 {
    color: #068f0d;
    font-family: Verdana;
}
p4 {
    color: #042b06;
    font-family: Verdana;
}