.input {
    padding: 0.2rem;
    padding-left: 5px;
    margin-left: 10rem;
}

main {
    width: 30rem;
    padding: 1.5rem 1rem;
    margin: 1rem auto;
}

label {
    display: block;
    float: left;
}


#enviar {
    margin-left: 8rem;
    font-size: 20px;
    padding: 10px 90px;
    background-color: #361d04;
    border-radius: 10px;
    color: white;
}

#botao {
    display: inline-block;
    width: 100px;
    height: 15px;
    padding: 10px;    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    
}