div.interno {
    border: 0.1rem solid rgb(62, 173, 62);
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 3.5rem;
    padding-right: 1.1rem;
    margin: 1rem;
    background-color: rgb(62, 173, 62);
}

div.externo {
    border: 0.2rem solid rgb(190, 186, 186);
    width: 150px;
    height: 230px;
    float: left;
    overflow: auto;
    margin: 0.3rem;
    padding: 0.3rem;
}

div.imagem {
    border: 0.2rem solid rgb(190, 186, 186);
    width: 150px;
    height: 230px;
    float: left;
    overflow: auto;
    margin: 0.3rem;
    padding: 0.3rem;
}

#imagem {
    width: 200px;
    height: 100px;
}