 html,
 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 16px;
 }
 
 div#topo {
     border: 0.1rem solid red;
     padding-top: 0.5rem;
     padding-bottom: 3rem;
     padding-left: 0.5rem;
     margin: 1rem;
     display: block;
 }
 
 div#menu {
     border: 0.1rem solid blue;
     padding-top: 0.2rem;
     padding-bottom: 1.5rem;
     padding-left: 0.5rem;
     margin: 1rem;
     display: block;
 }
 
 div.foto {
     border: 0.1rem solid green;
     padding-top: 0.5rem;
     padding-left: 0.5rem;
     padding-bottom: 3.5rem;
     padding-right: 1.1rem;
     margin: 1rem;
     float: left;
 }
 
 div#fim {
     border: 0.1rem solid orange;
     padding-top: 0.5rem;
     padding-bottom: 3rem;
     padding-left: 0.5rem;
     margin: 1rem;
     display: block;
     clear: both;
 }